# roles/mariadb/vars/Debian.yml
---
mariadb_apt_mirror: 'https://mirror.mariadb.org'
mariadb_apt_repositories:
  - 'deb [arch=amd64,arm64,ppc64el] {{ mariadb_apt_mirror }}/repo/{{ mariadb_version }}/{{ ansible_facts["distribution"] | lower }} {{ ansible_facts["distribution_release"] }} main'

mariadb_apt_keyserver: 'keyserver.ubuntu.com'
mariadb_apt_keyid: '0xF1656F24C74CD1D8'

mariadb_packages:
  - mariadb-server
  - mariadb-client
  - python3-pip
  - python3-mysqldb

mariadb_socket: /var/run/mysqld/mysqld.sock
